<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>数据库表列表</title>
    <div th:replace="main::resources"></div>
    <script src="../js/table/list.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="main::navbar"></div>
    <div th:replace="main::menu"></div>

    <div class="layui-body">
        <div style="padding: 15px;">添加数据库配置</div>
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">搜索表</label>
                <div class="layui-input-block">
                    <input id="tableName" lay-verify="title" autocomplete="off" placeholder="请输入表名" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <a class="layui-btn" id="submitBtn">搜索</a>
                    <a id="genCode" class="layui-btn">生成数据</a>
                </div>
            </div>
            <table class="layui-hide" id="tableList" lay-filter="demo"></table>
        </form>
    </div>
    <div th:replace="main::appFooter"></div>
</div>
</body>
</html>