package ${package}.mapper;

import java.io.Serializable;
import ${package}.entity.BaseEntity;

/**
 * 基础Mapper
 * <p>
 * @author: ${author}
 * @date: ${datetime}
 * @version: 1.0.0
 */
public interface BaseMapper<PK extends Serializable, E extends BaseEntity> {
    
    /**
     * 保存
     * <p>
     * @author: ${author}
     * @date: ${datetime}
     * @version: 1.0.0
     *
     * @param entity 实体类
     * @return int 主键id
     */
    int save(E entity);

    /**
     * 删除
     * <p>
     * @author: ${author}
     * @date: ${datetime}
     * @version: 1.0.0
     *
     * @param id 实体类
     * @return int 删除行数
     */
    int remove(PK id);

    /**
     * 更新
     * <p>
     * @author: ${author}
     * @date: ${datetime}
     * @version: 1.0.0
     *
     * @param entity 实体类
     * @return int 更新行数
     */
    int update(E entity);

    /**
     * 查询
     * <p>
     * @author: ${author}
     * @date: ${datetime}
     * @version: 1.0.0
     *
     * @param id 主键id
     * @return E 实体类
     */
    E get(PK id);
}