<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 资源引入 -->
<div th:fragment="resources">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="../layui/css/layui.css"/>
    <script src="../layui/layui.js"></script>
    <script type="text/javascript" th:inline="javascript">
        var _appDomain = [[${_appDomain}]];
        var _contextPath = [[${_contextPath}]];
        var _contextPathUri = _appDomain + _contextPath;
        var _version = [[${_version}]] || "V1.0.0";
    </script>
</div>

<div class="layui-header" th:fragment="navbar" id="topbar">
    <div class="layui-logo">webatis代码生成器</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <!--<ul class="layui-nav layui-layout-left">
        <a href="javascript:;" class="iconfont hideMenu icon-menu1"></a>
        <li class="layui-nav-item"><a href="">控制台</a></li>
        <li class="layui-nav-item"><a href="">商品管理</a></li>
        <li class="layui-nav-item"><a href="">用户</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">其它系统</a>
            <dl class="layui-nav-child">
                <dd><a href="">邮件管理</a></dd>
                <dd><a href="">消息管理</a></dd>
                <dd><a href="">授权管理</a></dd>
            </dl>
        </li>
    </ul>-->
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img"/>
                张弓
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">基本资料</a></dd>
                <dd><a href="">安全设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">退了</a></li>
    </ul>
</div>

<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
<div class="layui-side layui-bg-black" th:fragment="menu" id="sidebar_left">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">数据库配置</a>
                <dl class="layui-nav-child">
                    <!--<dd><a href="/dbs/add">添加数据库</a></dd>-->
                    <dd><a th:href="${_contextPath}+ '/dbs/add'">添加数据库</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">代码生成</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="${_contextPath}+ '/table/list'">数据表列表</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<!-- 底部固定区域 -->
<div class="layui-footer" th:fragment="appFooter" id="content-footer">
    © zhanggong.tech - 张弓开源
</div>
</html>