<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>数据库表列表</title>
    <div th:replace="main::resources"></div>
    <script th:src="${_contextPath} + '/js/dbs/dbsAdd.js'"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <input id="opType" th:value="${opType}" th:type="hidden" type="text"/>
    <div class="layui-body">
        <form class="layui-form layui-form-pane">
            <input name="id" th:value="${webatisDatabase.id}" th:type="hidden" type="text"/>
            <div class="layui-form-item">
                <label class="layui-form-label">自定义名称</label>
                <div class="layui-input-inline">
                    <input name="defineName" th:value="${webatisDatabase.defineName}" lay-verify="required" autocomplete="off" placeholder="自定义名称,方便区分数据库" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">数据库名称</label>
                <div class="layui-input-inline">
                    <input name="name" th:value="${webatisDatabase.name}" lay-verify="required" autocomplete="off" placeholder="请输入数据库名称" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">URL</label>
                <div class="layui-input-inline">
                    <input name="url" th:value="${webatisDatabase.url}" lay-verify="required" autocomplete="off" placeholder="192.168.1.1" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">端口</label>
                <div class="layui-input-inline">
                    <input name="port" th:value="${webatisDatabase.port}" lay-verify="number" autocomplete="off" placeholder="3306" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">数据库类型</label>
                <div class="layui-input-inline">
                    <select name="type" lay-verify="required" >
                        <option value=""></option>
                        <option value="1" selected="selected">mysql</option>
                        <option value="2" disabled="disabled">oracle</option>
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">目前只支持mysql</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input name="username" th:value="${webatisDatabase.username}" lay-verify="required" autocomplete="off" placeholder="root" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input name="password" th:value="${webatisDatabase.password}" th:type="password" lay-verify="required" autocomplete="off" placeholder="password" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">路径</label>
                <div class="layui-input-inline">
                    <input name="path" th:value="${webatisDatabase.path}" autocomplete="off" placeholder="tech.zg.xx" class="layui-input" type="text"/>
                </div>
                <div class="layui-form-mid layui-word-aux">生成的包路径</div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <button class="layui-btn" lay-submit="true" lay-filter="formSubmit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>