<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>数据库表列表</title>
    <div th:replace="main::resources"></div>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="main::navbar"></div>
    <div th:replace="main::menu"></div>

    <div class="layui-body">
        <dev class="layui-row">
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md4 layui-col-md-offset3">
                <h1>欢迎来到艾格伦岛，大吉大利今晚吃鸡。</h1>
            </div>
        </dev>
    </div>
    <div th:replace="main::appFooter"></div>
</div>
</body>
</html>