<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>数据库表列表</title>
    <div th:replace="main::resources"></div>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--<div th:replace="main::navbar"></div>-->
    <!--<div th:replace="main::menu"></div>-->

    <div class="layui-body">
        <!--<table style="text-align: center;">-->
        <form  class="layui-form" th:action="${_contextPath} + '/login'" method="post">

            <h2 class="form-signin-heading">用户登录</h2>

            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-block">
                    <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">密码框</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">辅助文字</div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
            <!--<table>
                <tr>
                    <td>用户名:</td>
                    <td><input type="text" name="username"  class="form-control"  placeholder="请输入用户名"/></td>
                </tr>
                <tr>
                    <td>密码:</td>
                    <td><input type="password" name="password"  class="form-control" placeholder="请输入密码" /></td>
                </tr>
                <tr>

                    <td colspan="2">
                        <button type="submit"  class="btn btn-lg btn-primary btn-block" >登录</button>
                    </td>
                </tr>
            </table>-->
        <!--</table>-->
        </form>
    </div>
    <!--<div th:replace="main::appFooter"></div>-->
</div>
</body>
</html>