<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tech.zg.webatis.mapper.TableMapper">

	<resultMap id="TableEntityMap" type="tech.zg.webatis.entity.TableEntity">
		<result column="table_name" property="tableName" jdbcType="VARCHAR"/>
		<result column="engine" property="engine" jdbcType="VARCHAR"/>
		<result column="table_comment" property="tableComment" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="SelectColumnSql">
		t.table_name,
		t.engine,
		t.table_comment,
		t.create_time
	</sql>

	<sql id="WhereSql">
		<!--where 1=1
		<if test="tableName != null and tableName.trim() != ''">and table_name like concat('%', #{tableName}, '%')</if>
		order by create_time desc
		and deleted=0-->
	</sql>

	<select id="list" resultMap="TableEntityMap">
		select
			<include refid="SelectColumnSql"/>
		from information_schema.tables t
			/*select database()显示当前数据库名*/
			where table_schema = (select database())
		<if test="tableName != null and tableName.trim() != ''">
			and table_name like concat('%', #{tableName}, '%')
		</if>
		order by create_time desc
	</select>
	
	<select id="getByTableName" resultType="tech.zg.webatis.entity.TableEntity">
		select
			<include refid="SelectColumnSql"/>
		from information_schema.tables t
			where table_schema = (select database())
		<if test="tableName != null and tableName.trim() != ''">
			and table_name = #{tableName}
		</if>
	</select>

</mapper>